$turquoise: #14a998;
$light-beige: #fffbf4;

$light-brown: #f1e8d9;
$beige: #d7c094;
$darkorange: #ce822f;
$error-red: rgb(189, 23, 23);

// $: #14a998;
// $: #ce822f;
// $: #6ea6a2;
// $: #fffbf4;
// $: #abeeb9;
// $: #686868;
// $: #ffe4dc;
// $: #dcfdff;
// $: #ffbea9;
// $: #0041e8;
// $: #d7c094;
// $: #d9d9d9;
